{% load bootstrap4 %}
{% load static %}
{% include "shared/styles.html" %}
<head>
      <head>
    <!--This is the meta information which is good for SEO-->
    {% block head-meta %}
  	<meta charset="utf-8">
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="keywords" content="REPLACE WITH YOUR OWN KEYWORDS HERE, AND HERE, AND HERE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

<!--The Block CSS is an example of what could go in your base.html file. If you already have these added into your static files then
there's no need to call them here because you already loaded the static files at the top of the document. If these files are already in
your static files then delete the 'block head-css below'-->

{#    {% block head-css %}#}
{#    <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}"#}
{#          rel="stylesheet" media="screen">#}
{#    <link href="{% static 'bootstrap/css/bootstrap.css' %}"#}
{#          rel="stylesheet" media="screen">#}
{#    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"#}
{#          rel="stylesheet" media="screen">#}
{#    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">#}
{#    <link href="{% static 'bootstrap/css/custom.css' %}"#}
{#          rel="stylesheet" media="screen">#}
{#    {% endblock %}#}

  </head>
{% include "shared/header.html" %}


</head>
    {% block content %}
    {% endblock content %}
{% include "shared/footer.html" %}
{% include "shared/scripts.html" %}

